@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  /* overflow: hidden; */
}

body {
  /* border: 2px green solid; */
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 100vh;
}

#root {
  height: 100%;
}

.page {
  background-color: #272727;
  font-size: 1.1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
