@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  /* border: 2px green solid; */
  font-family: 'Roboto', sans-serif;
  color: white;
}

.header {
  height: 6vh;
}

.home {
  /* border: 2px blue solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 4em;
  background-color: #272727;
  height: 94vh;
  font-size: 1.1em;
}
