__pycache__/
.vs/ktpi-hackathon/config/applicationhost.config
.vs/ktpi-hackathon/v16/.suo
.vs/ktpi-hackathon/v16/Browse.VC.db
.vs/ktpi-hackathon/v16/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite-journal
