<html>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'hackapp/style.css' %}">

    <a href="javascript:history.back()">Go Back</a>

    <div class="content">
        <form action="https://api.challonge.com/v1/tournaments.json" method="post">
            <label>Create a Tournament</label><br>
            <input placeholder="tournament name" type="text" name="tournament[name]"><br>
            <input type="hidden" name="api_key" value={{ api_key }}>
            <button type="submit">OK</button>
        </form>
    </div>
</html>